<div class="c-post-view-prev-next">
        {{#next_post}}
            <article class="c-post-view-prev-next__item {{post_class}}">
                <a class="c-post-view-prev-next__image" href="{{url}}" title="{{title}}">
                    <img class="c-post-view-prev-next__image__img" src="{{img_url feature_image}}" alt="{{title}}"/>
                    <span class="c-post-view-prev-next__image__label c-post-view-prev-next__image__label--next">
                        下一則文章
                    </span>
                </a>

                <h3 class="c-post-view-prev-next__title">
                    <a href="{{url}}" title="{{title}}">{{title}}</a>
                </h3>
            </article>
        {{else}}
            <article class="c-post-view-prev-next__item">
                <div class="c-post-view-prev-next__image c-post-view-prev-next__image--placeholder">
                    <span class="c-post-view-prev-next__image__label c-post-view-prev-next__image__label--next">
                        沒有更新的文章
                    </span>
                </div>
            </article>
        {{/next_post}}

        {{#prev_post}}
            <article class="c-post-view-prev-next__item {{post_class}}">
                <a class="c-post-view-prev-next__image" href="{{url}}" title="{{title}}">
                    <img class="c-post-view-prev-next__image__img" src="{{img_url feature_image}}" alt="{{title}}"/>
                    <span class="c-post-view-prev-next__image__label c-post-view-prev-next__image__label--previous">
                        上一則文章
                    </span>
                </a>

                <h3 class="c-post-view-prev-next__title">
                    <a href="{{url}}" title="{{title}}">{{title}}</a>
                </h3>
            </article>
        {{else}}
            <article class="c-post-view-prev-next__item">
                <div class="c-post-view-prev-next__image c-post-view-prev-next__image--placeholder">
                    <span class="c-post-view-prev-next__image__label c-post-view-prev-next__image__label--previous">
                        沒有更舊的文章
                    </span>
                </div>
            </article>
        {{/prev_post}}
</div>
